<mat-card class="weather-city-card" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header>
    <mat-card-title>{{city.name}}</mat-card-title>
  </mat-card-header>
  <img src="{{'assets/weather-icons/' + weather.WeatherIcon + '-s.png'}}" alt="{{weather.WeatherText}}">
  <mat-card-subtitle>{{weather.WeatherText}}</mat-card-subtitle>
  <mat-card-content>
    <span *ngIf="degreeType === DEGREE_TYPES.Celsius">{{weather?.Temperature.Metric.Value + ' °C'}}</span>
    <span *ngIf="degreeType === DEGREE_TYPES.Fahrenheit">{{weather?.Temperature.Imperial.Value + ' °F'}}</span>
  </mat-card-content>
</mat-card>
