@import '~@angular/material/theming';
.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.main-container {
  padding: 10px 16px 0;
  flex: 1 1 auto;
  text-align: center;
}

.layout {
  min-height: 100vh;
}
